body {
    background-color: cornsilk;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;

}
#thetop {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr

}


#maincontent{
        background-color: cornsilk;
        font-family: 'Times New Roman', Times, serif;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
}






    






#macros{
    border: solid;
   display: grid;
}

#amdr{
  display: grid;  
    

}

#hpm{
    border: solid;
    background-color:
    




} 

#thefooter {
   
    

}